<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href={{assets_url ~ "/icon/favicon.ico"}}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{title}} {% endblock %}</title>
    <link rel="stylesheet" href={{assets_url ~ "/css/main.css"}}>
    {% block stylesheets %} {% endblock %}
</head>
<body>
    {% include 'main/partial/navbar.html.twig' %}
    <hr>
    {% block body %}
    {% endblock %}
    <hr>
    {% include 'main/partial/footer.html.twig' %}
    {% block javascripts %} {% endblock %}
</body>
</html>