<div class="d-flex">
    <h1>Visiteur navbar</h1>
    <a href="/">Accueil</a>
    <a href="/apropos">A propos</a>
    <a href="/contact">Contact</a>
    <a href="/connexion">Connexion</a>
    <a href="/inscription">Inscription</a>
</div>